$primary-color: #e39f0b;

.Card {
  width: 330px;
  height: 100%;
  border-radius: 8px;
  border: 1px solid $primary-color;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .2rem;
    span {
      font-weight: 600;
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
      font-weight: 500;
    }
    button {
      border: 2px solid $primary-color;
      border-radius: 5px;
      cursor: pointer;
      background-color: $primary-color;
      color: white;
      font-weight: 700;
      padding: .2rem .5rem;
      width: 50%;
      font-size: .9rem;
      height: 4vh;
      transition: 500ms ease;
      margin-bottom: .5rem;
      &:hover {
        transition: 500ms ease;
        background-color: transparent;
        border: 2px solid $primary-color;
        color: $primary-color;        
      }
    }
  }
}